* {
    box-sizing: border-box;
}

h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}

body {
    background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png) repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349 ;
}

.locations,
.program,
.gifts,
.faq,
.contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
}

h1,
h2 {
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #bd806e;
    
}

a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}

/* Header Style */

header {
    background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;
    height: 100vh;
    width: 100%;
    display:table;
    text-align: center;
}

.hero__text-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.hero__text{
    background:  hsla(100,0%,0%,.6);
    color: hsla(0,0%,100%,.9);
    margin: 0 auto;
    padding: 0.625rem;
}

.hero__text h1 {
    font-size: 3.25rem;
    color: #d2ba87;
    margin-bottom: 0;
}

.tagline{
    font-size: 1.45rem;
}

.tagline::after{
    content: "";
    display: block;
    height: 1px;
    width: 50vw;
    margin:0.60rem auto;
    background-color:white;
}

.date{
    font-size: 1.30rem;
    position: relative;
}

.date::before,
.date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
}

@media (min-width: 768px) {
    header{
        background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg) no-repeat center/cover;
    }

    .hero__text{
        background:  hsla(100,0%,0%,.6);
        margin: 0 auto;
        padding: 0.625rem;
         width: 50vw;    
    }

    .hero__text h1 {
        font-size: 9rem;
        color: #d2ba87;
        margin-bottom: 0;
    }

    .tagline{
        font-size: 1.8rem;
    }

    .tagline::after{
        width: 30%;
        text-transform: uppercase;
    }

    .date{
        font-size: 1.75rem;
    }

}


/* Locations Style */

.blurb img{
    height: 7.5rem
}

.blurb p {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.blurb::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
    background-color: #444349;
}

@media (min-width: 768px){
   .blurb {
       display: inline-block;
       width: 30%;
       padding: 1.5rem;
       margin: .5rem;
    }

  .blurb::after {
      display: none;
    }
}

/* Program Style */

.program {
    width: 100%;
    text-align: left;
    background: hsla(100,0%,0%,.6);
    color: #d2ba87;
    font-family: 'Muli', sans-serif;
}

.program h2 {
    text-align: center;
}

.program p {
    font-style: italic;
}

@media (min-width: 768px){
    .program__wrapper{
        width: 40%;
        margin: auto
    }
}


/* Gifts Style */

.gifts img {
    height: 7.5rem;
}

.gifts p:last-child {
    margin-bottom: 0;
}


/* FAQ Style */


.faq {
    width: 100%;
    text-align: center;
    background: hsla(100,0%,0%,.6);
    color: #d2ba87;
    font-family: 'Muli', sans-serif;
}

.faq h2 {
    margin-top: 1rem;
}



.faq .question, .answer {
    font-family: 'Muli', sans-serif;
    text-align: left;
}

.faq .question {
    font-weight: 800;
}

.faq .answer {
    margin-bottom:2rem;
}

.question__group::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 50vw;
    margin: 1.5rem auto;
    background-color: #d2ba87;
}

@media (min-width: 768px){
    .question__group {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        padding: 1.5rem;
        margin:.5rem;
    }

  .question__group::after {
        display: none;
    }
}

/* Contact Style */

.contact, a {
    word-wrap: break-word;
}

/* Footer Style */

footer {
    width: 100%;
    height:10vh;
    text-align: center;
    background: hsla(100,0%,0%,.6);
    color: white;
    font-family: 'Muli', sans-serif;
    display: table;
}

footer .footer__wrapper {
    display: table-cell;
    vertical-align: middle;
}



footer p {
    font-size: 0.95rem;
    vertical-align: middle;
    margin:auto;
}


@media (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

















